.restaraunt {
    border: 1px solid #0d0b07;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: #fafafa;
    width: max-content;
    margin: 0 auto;
    .counter {
        margin-left: 20px;
        display: inline-flex;
        gap: 5px;
        align-items: center;
        button {
            cursor: pointer;
        }
    }
}